{% extends "lab_8/layout/base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="lab8">
        <div class="intro">
            <h2>integrated with Facebook to<br>
                retrieve personal information<br>
                and news feed</h2>
            <button type="button" id="login-button" class="btn" onclick="facebookLogin()"><img class="logo"  style="width:25px;margin-right:5px;"/>Login with Facebook</button>
        </div>
    </div>
{% endblock %}
