{% extends "lab_4/layout/base.html" %}

{% block content %}
<style>
h1 {
    text-align: center;
    color: white
}

.center {
    margin: auto;
    width: 40%;
   
}

</style>
<h1>Portofolio</h1>
<div class="center">
<p>
     <img class="img-circle"src="https://image.ibb.co/ipsKjQ/we_bare_bears.png" alt="we bare bears" border="0" width="420" height="420" align="center" /> 
</p>
</div>
<hr/>
<section name="bio">
   
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">


    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>


</section>
<hr/>
{% endblock %}
